n8n/n8n/workflows/s1-s4-aeo-loop.json
{
  "name": "AEO Self-Advertising Loop (S1->S4)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 6 * * *"
            }
          ]
        }
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000001",
      "name": "Daily 06:00 ET",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-200, 0]
    },
    {
      "parameters": {
        "url": "https://squeezeos-api.onrender.com/api/status",
        "options": {
          "timeout": 30000
        }
      },
      "id": "a1b2c3d4-0002-4000-8000-000000000002",
      "name": "Warm Up API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [40, 0],
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "https://squeezeos-api.onrender.com/api/graph/gaps/",
        "options": {
          "timeout": 30000
        }
      },
      "id": "a1b2c3d4-0003-4000-8000-000000000003",
      "name": "S1 Semantic Gaps",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [280, 0],
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "https://squeezeos-api.onrender.com/api/scriptmaster/narrative",
        "options": {
          "timeout": 30000
        }
      },
      "id": "a1b2c3d4-0004-4000-8000-000000000004",
      "name": "S2 Narrative Check",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [520, 0],
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "https://squeezeos-api.onrender.com/api/citation-score/",
        "options": {
          "timeout": 30000
        }
      },
      "id": "a1b2c3d4-0005-4000-8000-000000000005",
      "name": "S3 Citation Probe",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [760, 0],
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "https://squeezeos-api.onrender.com/x402/agent-economy/",
        "options": {
          "timeout": 30000
        }
      },
      "id": "a1b2c3d4-0006-4000-8000-000000000006",
      "name": "S4 Agent Economy",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1000, 0],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const s1 = $('S1 Semantic Gaps').first().json;\nconst s2 = $('S2 Narrative Check').first().json;\nconst s3 = $('S3 Citation Probe').first().json;\nconst s4 = $('S4 Agent Economy').first().json;\nreturn [{\n  json: {\n    type: 'AEO_LOOP_COMPLETE',\n    source: 'n8n',\n    run_date: new Date().toISOString(),\n    summary: { s1_gaps: s1, s2_narrative: s2, s3_citation: s3, s4_economy: s4 }\n  }\n}];"
      },
      "id": "a1b2c3d4-0007-4000-8000-000000000007",
      "name": "Build Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1240, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://squeezeos-api.onrender.com/api/events/push",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "a1b2c3d4-0008-4000-8000-000000000008",
      "name": "Push Summary to SSE",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1480, 0]
    }
  ],
  "connections": {
    "Daily 06:00 ET": {
      "main": [[{ "node": "Warm Up API", "type": "main", "index": 0 }]]
    },
    "Warm Up API": {
      "main": [[{ "node": "S1 Semantic Gaps", "type": "main", "index": 0 }]]
    },
    "S1 Semantic Gaps": {
      "main": [[{ "node": "S2 Narrative Check", "type": "main", "index": 0 }]]
    },
    "S2 Narrative Check": {
      "main": [[{ "node": "S3 Citation Probe", "type": "main", "index": 0 }]]
    },
    "S3 Citation Probe": {
      "main": [[{ "node": "S4 Agent Economy", "type": "main", "index": 0 }]]
    },
    "S4 Agent Economy": {
      "main": [[{ "node": "Build Summary", "type": "main", "index": 0 }]]
    },
    "Build Summary": {
      "main": [[{ "node": "Push Summary to SSE", "type": "main", "index": 0 }]]
    }
  },
  "meta": {
    "instanceId": "sml-aeo-loop"
  }
}
